<!-- Develop AngularJS application that displays a details of students and their CGPA.
     Allow users to read the number of students and display the count. 
     Note: Student details may be included in the program. -->


<!DOCTYPE html>
<html ng-app="studentApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="studentCtrl">
    <h1>Student Details</h1>
    Student Name:
    <input type="text" ng-model="name">
    &emsp;
    CGPA:
    <input type="number" ng-model="cgpa" ng-min="1"ng-max="10">
    &emsp;
    <button ng-click="addStudent()">Add Student</button>
    <ul>
        <li ng-repeat="student in students">
            {{student.name}} - CGPA:{{student.cgpa}}
        </li>
    </ul>    
    <p>Total Students: {{students.length }}</p>

    <script>
        angular.module("studentApp", [])
        .controller("studentCtrl", function($scope)
        {
            $scope.students= 
            [
                {name:'Ankith', cgpa:10},
                {name:"Hitesh", cgpa:9}
            ];
            $scope.addStudent=function()
            {
                if($scope.name && $scope.cgpa)
                {
                    $scope.students.push({name:$scope.name, cgpa:$scope.cgpa})
                }
                //clear input fields
                $scope.name='';
                $scope.cgpa='';
            }
        })
    </script>
</body>
</html>